body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: wheat;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: firebrick;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 80vh;
  width: 100vw;
  background-color: aquamarine;
}

.card {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 30vh;
  width: 18vw;
  margin: 1px 1px;
  background-color: rgba(255, 0, 255, 0.568);
}

.card-back, .card-face {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 18vw;
}

.card-back {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.5);
}

.card-face {
  background-color: rgba(0, 128, 0, 0.555);
}

.card-face img {
  width: 10vmin;
}
.card-back img {
  width: 18vmin;
}
